<h2 mat-dialog-title>Create Customer</h2>
<mat-dialog-content class="mat-typography">

  <form  class="open-close-container" [formGroup]="form" (submit)="submit()">
    <div class="col-12" style="padding: 20px">

      <mat-form-field appearance="outline" class="col-3">
        <mat-label>Document</mat-label>
        <input matInput  formControlName="document">
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-3">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" >
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-3">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" >
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-3">
        <mat-label>Second Name</mat-label>
        <input matInput formControlName="secondName" >
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-3" >
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName">
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-3" >
        <mat-label>Second Last Name</mat-label>
        <input matInput formControlName="secondLastName">
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-3">
        <mat-label>Mobile</mat-label>
        <input matInput formControlName="mobile">
      </mat-form-field>


      <mat-form-field appearance="outline" class="col-3">
        <mat-label>Birthdate</mat-label>
        <input matInput [matDatepicker]="datePicker"  formControlName="birthDate">
        <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
        <mat-datepicker #datePicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-3">
        <mat-label>Gender type</mat-label>
        <mat-select formControlName="genderType">
          <mat-option value="MALE">MALE</mat-option>
          <mat-option value="FEMALE">FEMALE</mat-option>
          <mat-option value="OTHER">OTHER</mat-option>
        </mat-select>
      </mat-form-field>




    </div>

    <mat-dialog-actions align="end">
      <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
      <button class="btn submit-button" type="submit" mat-raised-button color="primary" mat-dialog-close>Create</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
