<mat-toolbar class="text-center">
  <div class="">Demo Luis medina Crud</div>
</mat-toolbar>
<mat-card class="row d-flex justify-content-center" >
  <button class="btn" mat-raised-button color="green" (click)="openCreateCustomerModal()">Create customer</button>
  <table mat-table [dataSource]="dataSource">

            <div class="col-1">
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>
            </div>

            <div class="col-1">
              <ng-container matColumnDef="document">
                <th mat-header-cell *matHeaderCellDef>document</th>
                <td mat-cell *matCellDef="let element"> {{element.document}} </td>
              </ng-container>
            </div>

            <div class="col-1">
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
              </ng-container>
            </div>

            <div class="col-1">
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>name </th>
                <td mat-cell *matCellDef="let element"> {{element.firstName + " " + element.lastName}} </td>
              </ng-container>
            </div>



            <div class="col-1">
              <ng-container matColumnDef="mobile">
                <th mat-header-cell *matHeaderCellDef> mobile </th>
                <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
              </ng-container>
            </div>

            <div class="col-1">
              <ng-container matColumnDef="birthDate">
                <th mat-header-cell *matHeaderCellDef>birthDate </th>
                <td mat-cell *matCellDef="let element"> {{element.birthDate}} </td>
              </ng-container>
            </div>

            <div class="col-1">
              <ng-container matColumnDef="age">
                <th mat-header-cell *matHeaderCellDef> age </th>
                <td mat-cell *matCellDef="let element"> {{element.age}} </td>
              </ng-container>
            </div>

            <div class="col-1">
              <ng-container matColumnDef="genderType">
                <th mat-header-cell *matHeaderCellDef> genderType </th>
                <td mat-cell *matCellDef="let element"> {{element.genderType}} </td>
              </ng-container>
            </div>

            <div class="col-3">
              <ng-container matColumnDef="actions" class="d-flex justify-content-lg-end">
                <tr>
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                </tr>
                <tr>
                <td mat-cell *matCellDef="let element" >
                  <button  mat-raised-button color="primary" (click)="openModal(element.id)" style="margin-right: 5px">Update</button>
                  <button  mat-raised-button color="warn" (click)="deleteCustomer(element.id)">Delete</button>
                </td>
                </tr>
              </ng-container>
            </div>


              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          </table>

</mat-card>



